<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        window.location.href = '/orderinfo/19485246/guid/05A10DECE304028FE0634D37A8C09FFB';
    </script>
</body>
</html>